/* font famiy */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-style {
    font-family: "Raleway";
}

#donataion-amount-value,
#total-balance {
    font-size: 20px;
    font-family:serif;
}


.top-header {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
}